<h1>Admin: Application <%= @application.id %></h1>
<p>app status: <%= @application.status %></p>

<section>
  <% @application.pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
      <%= pet.name %><br>
      pet id: <%= pet.id %><br>
      
      <% if @application.find_pet_application(pet).status == "Pending" %>
        <%= button_to "Approve", "/admin/applications/#{@application.id}", 
          params: {app_status: "Approved", pet: pet}, 
          method: :patch %>

        <%= button_to "Reject", "/admin/applications/#{@application.id}", 
          params: {app_status: "Rejected", pet: pet}, 
          method: :patch %>

      <% else %>
        <%= pet.name %>
        Application Status: <%= @application.find_pet_application(pet).status %><br>
      <% end %>
    </section>
  <% end %>
<section>