<h1>Admin: Application <%= @application.id %></h1>
<p>app status: <%= @application.status %></p>

<section>
  <% @application.pets.each do |pet| %>
    <%= pet.name %><br>
    pet id: <%= pet.id %><br>

    <% if @application.pet_applications[0].status == "Pending" %>
      <%= button_to "Approve", "/admin/applications/#{@application.id}", params: {app_status: "Approved", pet: pet}, method: :patch %>
    <% end %>
  <% end %>

  <% @application.pets.each do |pet| %>
    <% if @application.pet_applications[0].status == "Approved" %>
    
      <%= pet.name %>
      Application Status: <%= @application.pet_applications[0].status %><br>
    <% end %>
  <% end %>
